@import '../../../constants.scss';

// fixed element to contain overlay + backdrop
.overlayContainer {
  position: fixed;
  z-index: $z-index-high;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

// overlay partly hiding the original site when overlay is present
.overlayContainerBackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.25;
  z-index: $z-index-higher;
}

// actual overlay box inside the overlay container
.sourceOverlay {
  margin-top: 5vh;
  background: #f0f0f0;
  color: #333;
  box-shadow: 0px 0px 50px 5px #888888;
  z-index: $z-index-highest;
}

// ----------------------------------------------------------------------
// link replacement / hovers
//

// hover elements (non-overlay)
.hoverElement {
  position: fixed;
  display: none;
  z-index: $z-index-hover;
  &.active {
    display: block;
  }

  // Possibly move these styles out of component
  background: white;
  border: 1px solid grey;
  box-shadow: 0 0 15px grey;
  padding: 1em;
}

// ----------------------------------------------------------------------
// iframe and sizing overlay/iframe
//

iframe.sourcesjs-iframe {
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

// Setting size for all involved elements

.sourceOverlay {
  width: 800px;
  height: 90%;
}

.iframe-wrapper {
  height: 100%;
}

@media (min-width: 1200px) {
  .sourceOverlay {
    width: 1024px;
    height: 90%;
  }

  iframe.sourcesjs-iframe {
    height: 100%;
  }
}
