/**
 * SourcesJS starter file ${version}
 */

(function() {
    function initSourcesJs() {

        // Location
        var prefix = ${prefix};

        var scripts = ${scripts};
        var styles = ${styles};

        // Differential loading
        var es2015 = /es2015/;
        var es5 = /es5/;

        function linkResource(name) {
            return prefix + name;
        }

        for (var i = 0; i < scripts.length; i++) {
            var scriptTag = document.createElement('script');
            scriptTag.src = linkResource(scripts[i]);
            if (es2015.test(scripts[i])) {
                scriptTag.type = 'module';
            }
            if (es5.test(scripts[i])) {
                scriptTag.setAttribute('nomodule', '');
                scriptTag.setAttribute('defer', '');
            }
            document.body.appendChild(scriptTag);
        }

        for (var i = 0; i < styles.length; i++) {
            var styleTag = document.createElement('link');
            styleTag.href = linkResource(styles[i]);
            styleTag.rel = 'stylesheet';
            document.head.appendChild(styleTag);
        }
    }

    if (window.addEventListener) {
        // modern
        window.addEventListener('load', initSourcesJs);
    } else {
        // IE old
        window.attachEvent('onload', initSourcesJs);
    }

}());