ul {
  list-style-type: none;
  padding: 0;
  margin: 0.25em 0;

  li {
    margin-bottom: 6px;
  }
  a {
    cursor: pointer;
  }
}

ul.horizontal {
  display: flex;
  li {
    margin-bottom: unset;
  }
  a {
    white-space: nowrap;
    margin-right: 1em;
  }
  overflow: auto;
}
