@import './colors.scss';
@import './constants.scss';

// Links in original document, after parsing
a.sourcesjs-parsed {
  color: $primary-light-2;
  text-decoration: none;
}

a.sourcesjs-parsed {
  display: inline-flex;
  align-self: center;
}

a.sourcesjs-parsed svg {
  height: 1em;
  width: 1em;
  margin: 0 0.25em;
  fill: $primary-light-2;
}

// Backdrop / Overlay
body.sourcesjs-backdrop {
  overflow: hidden;
}

// close button, absolutely positioned to hover over the
// iframe content's (micropage) header bar
.srcs-close {
  position: relative;
  a {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: $default-padding;
    svg {
      width: 16px; height: 16px;
    }
    cursor: pointer;
  }
}

.srcs-close a, .srcs-close a:visited {
  svg { fill: $dark-4; }
  &:hover, &:active {
    svg { fill: $dark-1; }
  }
}


/* Style for the    "Sourcebox" element which is optionally inserted
   somewhere on page, non-overlay. */
#sourcesjs-sourcebox {
  a {
    text-decoration: none;
    color: $dark-1
  }

  a {
    cursor: pointer;
  }

  background: $dark-4;
  padding: 0.5em;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 0.5em;
      margin: 0.5em 0;
      background: $light-background;

      // set again (gets overridden by stylesheets otherwise)
      list-style-type: none;
    }
  }

  h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
}