$accent-1: #ea5d36;
$accent-2: #fa5c31;
$accent-3: #cd4a2c;

$primary-1: #168e9a;
$primary-2: #03717c;
$primary-light-1: #12c0d2;
$primary-light-2: #17adbd;
$primary-light-hover: #dceef0;
$primary-light-pressed: #c5e3e6;

$text-light: #fbfbfb;
$light-background: #efefef;

$dark-1: #232323;
$dark-2: #3f3f3f;
$dark-3: #6d6d6d;
$dark-4: #9b9b9b;
$dark-5: #bdbdbd;

