<section class="main-content srcs-centercol-container">
  <div>
    <h1 translate="RESETPASSWORD.TITLE"></h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
      <div>
        <input name="email" type="text" class="form-input"
          [placeholder]="'RESETPASSWORD.EMAIL'|translate"
          formControlName="email">
        <app-error
          [element]="resetForm.get('email')"
          [errors]="[{name: 'required', 'text': 'ERROR.REQUIRED' }, {name: 'email', 'text': 'ERROR.EMAIL' }]"
          [serverErrors]="errors" serverErrorField="email">
        </app-error>
      </div>
      <div>
        <button type="submit" translate="RESETPASSWORD.SUBMIT" class="srcs-navbutton primary"></button>
      </div>
    </form>
  </div>
</section>
