<section class="main-content srcs-centercol-container">
  <div>
    <h1 translate="RESETPASSWORD.TITLE"></h1>
    <app-error [serverErrors]="errors" serverErrorField="token"></app-error>
    <form (ngSubmit)="onSubmit()">
      <div>
        <input
          name="newPassword1"
          type="password"
          class="form-input"
          minlength="8"
          [placeholder]="'SETTINGS.NEWPASSWORD1'|translate"
          [formControl]="newPassword1Input">
        <app-error
          [element]="newPassword1Input"
          [errors]="[{name: 'minlength', 'text': 'SETTINGS.ERRORS.MINLENGTH'}]"
          [serverErrors]="errors"
          serverErrorField="new_password1">
        </app-error>
      </div>
      <div>
        <input
          name="newPassword2"
          type="password"
          class="form-input"
          [placeholder]="'SETTINGS.NEWPASSWORD2'|translate"
          [formControl]="newPassword2Input">
        <app-error
          [element]="newPassword2Input"
          [serverErrors]="errors"
          serverErrorField="new_password2">
        </app-error>
      </div>
      <div class="srcs-section-hspace" translate="SETTINGS.PASSWORD_NOTE">
      </div>
      <div>
        <button type="submit" translate="SETTINGS.SUBMIT" class="srcs-navbutton primary"></button>
      </div>
    </form>
  </div>
</section>