{% load i18n %}{% autoescape off %}

{% trans "Dear" %} {{ user.first_name }} {{ user.last_name }},

{% blocktrans %}You are receiving this email because you requested a password reset for your Sources account at {{site_name }}.
{% endblocktrans %}
{% trans "Please follow this link to set a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username:" %} {{ user.get_username }}
{% blocktrans with support_email=user.staffprofile.get_support_email%}
If you are still having trouble logging in, please contact {{support_email}} for further help.

Best wishes,
your Sources team
{% endblocktrans %}

{% endautoescape %}