$primary-light-2: #17adbd;
$primary-light-2-10: rgba(23, 173, 189, 0.1);
$primary-2: #03717c;
$dark-1: #232323; /* normal font */
$dark-3: #6d6d6d; /* soft headlines, close icon */
$dark-4: #9b9b9b; /* even softer content (logotype, icon fill/background) */
$light-background: #efefef; /* background */
$text-light: #fbfbfb; /* light text */